.video {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border-bottom: 1px solid #e1e8ed;
  padding: 10px;
}
.video:last-child {
  border-bottom: 0
}

.avatar-wrapper {
  margin-right: 20px;
}
.avatar-wrapper img {
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

.video-header {
  margin-bottom: 10px;
}

.video-name {
  font-size: 1.5em;
}
.video-by {
  color: #8A9599;
}

.video-details {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: 330px;
  overflow: hidden;
}

.video-description {
  line-height: 135%;
  font-size: .8em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-meta-info {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: row;
  padding-top: 10px;
  height: 30px;
  background: white;
  width: 100%;
}

.video-meta-info::before {
  content: "";
  position: absolute;
  height: 10px;
  top: -10px;
  left: 0;
  width: 100%;
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
}

.video-meta {
  background-repeat: no-repeat;
  background-size: 16px 16px;
  padding-left: 20px;
  margin-right: 20px;
}

.video-meta__plays {
  background-image: url('./icons/plays.svg');
}

.video-meta__comments {
  background-image: url('./icons/comments.svg');
}

.video-meta__likes {
  background-image: url('./icons/likes.svg');
}
