.filter {
  box-sizing: border-box;
  padding: 20px 10px;
  border-bottom: 1px solid #e1e8ed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.filter-label {
  margin: 0 10px;
}
.filter-label:first-child {
  margin-left: 0;
}

.filter-label:last-child {
  margin-right: 0;
}

@media (max-width: 700px) {
  .filter {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  .filter-field {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 10px;
    border-bottom: 1px solid #e1e8ed;
  }
  .filter-field:last-child {
    border-bottom: 0;
  }
}

