.feed {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10px;
}

.feed-show-more {
  background: transparent;
  width: 100%;
  padding: 20px;
  border: 0;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 0 0 10px 10px;
  border-top: 1px solid #e1e8ed;
}
