.app {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 320px;
  margin: 20px auto;
  border: 1px solid #e1e8ed;
  border-radius: 10px;
}

@media (max-width: 700px) {
  .app {
    margin: 20px 10px;
  }
}
